<ion-view title="Завдання" id="page1" style="">
    <ion-content padding="true" class="has-header">
        <ion-list id="page1-list6">
            <ion-item class="item-thumbnail-left" id="page1-list-item12" ui-sref="side-menu21.page8" style="">
                <img src="img/DaGTk4DRhO7KbdNyjzgw_20101128_formula9.gif">
                <h2>Розв'язати рівняння</h2>
                <p>0/10</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="page1-list-item13" style="">
                <img src="img/jbSfavvwQUWmxH3UjcEH_algebra.jpg">
                <h2>Вирішити задачу</h2>
                <p>0/12</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="page1-list-item17" style="">
                <img src="img/PJ84VUISSTSCXdZPb3Et_1352200083.jpg">
                <h2>Вирішити лінійне рівня</h2>
                <p>0/12</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>