<ion-view title="Реєстрація" id="page6" style="">
    <ion-content padding="true" class="has-header">
        <form id="page6-form3" class="list">
            <ion-list id="page6-list3">
                <label class="item item-input" id="page6-input5">
                    <span class="input-label">Прізвище</span>
                    <input placeholder="" type="text">
                </label>
                <label class="item item-input" id="page6-input6">
                    <span class="input-label">Ім'я</span>
                    <input placeholder="" type="text">
                </label>
                <label class="item item-input" id="page6-input7">
                    <span class="input-label">Телефон</span>
                    <input placeholder="" type="tel">
                </label>
                <label class="item item-input" id="page6-input8">
                    <span class="input-label">Електронна пошта</span>
                    <input placeholder="" type="email">
                </label>
                <label class="item item-input" id="page6-input11">
                    <span class="input-label">Пароль</span>
                    <input placeholder="" type="password">
                </label>
                <label class="item item-input" id="page6-input10">
                    <span class="input-label">Повторіть пароль</span>
                    <input placeholder="" type="password">
                </label>
            </ion-list>
            <a ui-sref="page11" id="page6-button30" class="button button-positive  button-block">Створити аккаунт</a>
            <div id="page6-markdown2" style="color:#2D4996;text-align:center;">
                <p>У Вас вже є аккаунт? Увійти</p>
            </div>
            <div id="page6-button-bar4" class="button-bar">
                <button id="page6-button34" class="button button-stable  button-block icon ion-social-facebook"></button>
                <button id="page6-button35" class="button button-stable  button-block icon ion-social-twitter"></button>
                <button id="page6-button36" class="button button-stable  button-block icon ion-social-instagram"></button>
            </div>
        </form>
    </ion-content>
</ion-view>