<ion-view title="В якому класі Ви навчаєтеся?" id="page12" style="">
    <ion-content padding="true" class="has-header">
        <a ui-sref="side-menu21.page1" id="page12-button48" class="button button-calm  button-block">5 клас</a>
        <a ui-sref="side-menu21.page1" id="page12-button49" class="button button-positive  button-block">6 клас</a>
        <a ui-sref="side-menu21.page1" id="page12-button50" class="button button-calm  button-block">7 клас</a>
        <a ui-sref="side-menu21.page1" id="page12-button51" class="button button-positive  button-block">8 клас</a>
        <a ui-sref="side-menu21.page1" id="page12-button52" class="button button-calm  button-block">9 клас</a>
        <a ui-sref="side-menu21.page1" id="page12-button53" class="button button-positive  button-block">10 клас</a>
        <a ui-sref="side-menu21.page1" id="page12-button54" class="button button-calm  button-block">11 клас</a>
    </ion-content>
</ion-view>