<ion-view title="Теоретичний матеріал" id="page2" style="">
    <ion-content padding="true" class="has-header">
        <ion-list id="page2-list8">
            <ion-item class="item-thumbnail-left" id="page2-list-item18" ui-sref="side-menu21.page10" style="">
                <img src="img/n1V7qvNaQqeoRNRbZ5PG_20101128_formula9.gif">
                <h2>Розв'язання рівнянь</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="page2-list-item19" style="">
                <img src="img/wF6pKow9SUCZFddG30xl_algebra.jpg">
                <h2>Вирішення задач</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="page2-list-item20" style="">
                <img src="img/Q9tVUj4RHGK3OwZGFiun_1352200083.jpg">
                <h2>Вирішення лінійних рівнянь</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>