<ion-view title="Розв'язати рівняння практика" id="page8" style="">
    <ion-content padding="true" class="has-header">
        <div id="page8-markdown5" style="color:#000000;">
            <p>1) 15(х + 2) – 30 = 12х 15x + 30 – 30 = 12x 15x =</p>
        </div>
        <form id="page8-form4" class="list">
            <label class="item item-input" id="page8-input12">
                <span class="input-label">Введіть правильну відповідь!</span>
                <input placeholder="" type="number">
            </label>
            <button id="page8-button39" class="button button-calm  button-block icon ion-android-camera">Прикріпити вирішення!</button>
        </form>
        <button id="page8-button55" class="button button-balanced">Перевірити!</button>
        <div id="page8-markdown7" style="color:#1174A5;text-align:center;">
            <p>Виникають труднощі? Поверніться до теоретичного матеріалу!</p>
        </div>
        <div id="page8-button-bar5" class="button-bar">
            <a ui-sref="side-menu21.page13" id="page8-button43" class="button button-assertive  button-block icon ion-help-circled">Задати питання вчителю</a>
        </div>
    </ion-content>
</ion-view>