<ion-view title="Вхід" id="page4" style="">
    <ion-content padding="true" scroll="false" class="has-header">
        <form id="page4-form1" class="list">
            <label class="item item-input" id="page4-input1">
                <span class="input-label">Імя користувача</span>
                <input placeholder="" type="text">
            </label>
            <label class="item item-input" id="page4-input2">
                <span class="input-label">Пароль</span>
                <input placeholder="" type="password">
            </label>
        </form>
        <a ui-sref="side-menu21.page1" id="page4-button1" class="button button-positive  button-block">Ввійти</a>
        <div id="page4-markdown1" style="color:#707689;text-align:center;">
            <p>Забули пароль?</p>
        </div>
        <div id="page4-button-bar3" class="button-bar">
            <button id="page4-button27" style="font-size:4px;" class="button button-stable  icon ion-social-facebook"></button>
            <button id="page4-button26" class="button button-stable  icon ion-social-twitter"></button>
            <button id="page4-button25" class="button button-stable  icon ion-social-instagram"></button>
        </div>
    </ion-content>
</ion-view>