<ion-view title=" Задати питання вчителю" id="page13" style="">
    <ion-content padding="true" class="has-header">
        <form id="page13-form5" class="list">
            <label class="item item-input" id="page13-textarea1">
                <span class="input-label">Запитання?</span><textarea placeholder=""></textarea>
            </label>
        </form>
        <button id="page13-button56" class="button button-assertive button-large icon ion-volume-high"></button>
        <button id="page13-button57" class="button button-balanced  button-block">Відправити!</button>
    </ion-content>
</ion-view>