<ion-view title="Розв'язання рівнянь" id="page10" style="">
    <ion-content padding="true" class="has-header">
        <div id="page10-markdown6" style="color:#000000;">
            <p>Перш ніж починати пояснення, слід активізувати мислення учнів, запропонувавши порівняти рівняння з рівнянням виду | х | = а.</p>

            <p>Чим відрізняється дане рівняння від рівняння | х | = а? Чим схожі ці рівняння? Чим схожий спосіб розв'язання (перший крок) і чим буде відрізнятися розв'язання?</p>

            <p>Після цього робимо записи в зошитах (проводимо усні зауваження): . (Спрощуємо вираз під знаком модуля.) .</p>

            <p>1) 2x – 3 = 3 або 2) 2x – 3 = -3. (Оскільки 3 &gt; 0, | x | = а, а &gt; 0,</p>

            <p>то x = а або x = -а. Розв'язуємо лінійні рівняння.)</p>
        </div>
        <a ui-sref="side-menu21.page8" id="page10-button38" class="button button-positive  button-block">Перейти до завдання!</a>
    </ion-content>
</ion-view>