<ion-view title="School Math Premium" id="page9" style="">
    <ion-content padding="true" class="has-header">
        <h4 id="schoolMathPremium-heading1" style="color: rgb(0, 0, 0);">Отримай більше можливостей для вивчення математики!</h4>
        <ion-list id="schoolMathPremium-list7">
            <ion-item class="item-icon-left" id="schoolMathPremium-list-item11" style="">
                <i class="icon ion-android-checkbox-outline"></i>Коментарі та допомога вчителя щодо вирішення завдань.</ion-item>
            <ion-item class="item-icon-left" id="schoolMathPremium-list-item15" style="">
                <i class="icon ion-android-checkbox-outline"></i>Змога записувати аудіозвернення та аудіозапитання вчителю щодо завдань та теоретичного матеріалу</ion-item>
            <ion-item class="item-icon-left" id="schoolMathPremium-list-item16" style="">
                <i class="icon ion-android-checkbox-outline"></i>Отримувати коментарі щодо вирішення задач та прикладів.</ion-item>
        </ion-list>
        <button id="schoolMathPremium-button37" class="button button-positive  button-block">Придбати за 50 грн на місяць</button>
    </ion-content>
</ion-view>