<ion-side-menus enable-menu-with-back-views="false" style="">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21" style="background-color:#E7E7F5;">
        <ion-header-bar class="bar-positive">
            <div class="title">Меню</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header ">
            <ion-list id="side-menu21-list1">
                <ion-item class="item-avatar" id="side-menu21-list-item4" style="">
                    <img src="img/Luts1VTj2s02caLSb3Pg_b2ee0458a5b4.png">
                    <h2>School Math</h2>
                    <p>7 клас</p>
                </ion-item>
                <ion-item class="item-icon-right" id="side-menu21-list-item2" ui-sref="side-menu21.page2" menu-close="" style="">Теоретичний матеріал
                    <i class="icon ion-help"></i>
                </ion-item>
                <ion-item class="item-icon-right" id="side-menu21-list-item1" ui-sref="side-menu21.page1" menu-close="" style="">Завдання
                    <i class="icon ion-ios-list-outline"></i>
                </ion-item>
                <ion-item class="item-icon-right" id="side-menu21-list-item3" ui-sref="side-menu21.page3" menu-close="" style="">Перевірені завдання
                    <i class="icon ion-android-create"></i>
                </ion-item>
                <ion-item class="item-icon-right" id="side-menu21-list-item14" ui-sref="side-menu21.schoolMathPremium" menu-close="" style="">School Math Premium
                    <i class="icon ion-android-cart"></i>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>