<ion-header-bar align-title="left" class="bar-positive">
    <button class="button icon-left ion-chevron-left" ng-click="$ionicGoBack()"></button>
    <h1 class="title text-center">REGISTER PAGE</h1>
    <!--<div class="buttons">-->
    <!--<button class="button">Right Button</button>-->
    <!--</div>-->
</ion-header-bar>
<ion-content class="has-header">
    <div class="list">
        <span class="text-center">
            <img ngf-thumbnail="vm.registerData.photo">
        </span>
        <label class="item item-input item-floating-label">
            <span class="input-label">{{vm.label.photo}}</span>
            <input type="file" ng-model="vm.registerData.photo" autocomplete="off" ngf-select accept="image/*" ngf-max-size="2MB" required>
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">{{vm.label.phone}}</span>
            <input placeholder="{{vm.label.phone}}" type="tel" ng-model="vm.registerData.phone" autocomplete="off" required>
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">{{vm.label.password}}</span>
            <input placeholder="{{vm.label.password}}" type="tel" ng-model="vm.registerData.password" minlength="6" maxlength="32" autocomplete="off" required>
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">{{vm.label.first_name}}</span>
            <input placeholder="{{vm.label.first_name}}" type="text" ng-model="vm.registerData.first_name" maxlength="32" autocomplete="off" required>
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">{{vm.label.second_name}}</span>
            <input placeholder="{{vm.label.second_name}}" type="text" ng-model="vm.registerData.second_name" maxlength="32" autocomplete="off" >
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">{{vm.label.last_name}}</span>
            <input placeholder="{{vm.label.last_name}}" type="text" ng-model="vm.registerData.last_name" maxlength="32" autocomplete="off" required>
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">{{vm.label.sity}}</span>
            <input id="autocomplete" placeholder="{{vm.label.sity}}" type="text" ng-model="vm.registerData.sity_name" maxlength="32" autocomplete="off" required>
        </label>
        <label class="item item-input item-select">
            <span class="input-label">{{vm.label.school}}</span>
            <select ng-model="vm.registerData.school_id" ng-options="school.name for school in vm.schools track by school.id" required>
            </select>
        </label>
    </div>
    <button class="button button-block button-positive" ng-click="vm.register()">Register</button>
    <a class="button button-block button-outline button-stable" href="#/login">Login</a>
</ion-content>



