<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ionicframework.schoolMathApp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>schoolMathApp</name>
    <description>
        An Ionic Framework and Cordova project.
    </description>
    <author email="mr.inceon@gmail.com" href="http://example.com.com/">
      Sergey Okhrymenko
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <!--<preference name="SplashScreenDelay" value="2000" />-->
    <!--<preference name="FadeSplashScreenDuration" value="2000" />-->
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <plugin name="cordova-plugin-device" spec="~1.1.3" />
    <plugin name="cordova-plugin-console" spec="~1.0.4" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.0" />
    <plugin name="cordova-plugin-splashscreen" spec="~4.0.0" />
    <plugin name="cordova-plugin-statusbar" spec="~2.2.0" />
    <plugin name="ionic-plugin-keyboard" spec="~2.2.1" />
    <engine name="android" spec="~4.2.2" />
    <plugin name="cordova-plugin-file-transfer" spec="~1.6.0" />
    <uses-permission name="com.android.vending.BILLING"/>
    <plugin name="cc.fovea.cordova.purchase" spec="https://github.com/d3orn/cordova-plugin-purchase.git">
        <variable name="BILLING_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA7cDtzZDCGXvn9wV2zu2rTd0AiBZlM+mfgtDh3gcw5avGjunwzkV3zVTB9rlKCBSpQWgZfmFNi5ZWGuYxifKY790L7/LkfESU8yx3CGNM/NeJQ9CYt05UOMbz3Lh1WRX9ldxwrUhwG7QQLTWNjM53CegeWLWXG3kE4zqs8Y8hD38RJL8qqGWmB35u6uu6jnpsP1PIgt/FuNqKyXvzt/UE8//zKBhzTLOojhzPUwwKvSJSGBL1xsefAL6DPiazkdM2jDzwHaQm+3MkJ9syrDCmRjz7qvX7sUHrL277Zs+50jBRBNp25+6XqbZw/VlR3ybiXZ5zySgyqWG2Zu/ioB1gDQIDAQAB" />
    </plugin>
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
</widget>
