<ion-view>
    <ion-content class="has-header">
        <md-content ng-if="vm.sections">
            <md-list flex>
                <div ng-repeat="section in vm.sections">
                    <md-list-item ng-click="vm.showThemes(section)" style="border-top: 1px solid #ddd; border-bottom: 1px solid #ddd">
                        <img src="http://cmapspublic.ihmc.us/?thumbnail=1323171841631_1691287663_43466" class="md-avatar"/>
                        <div class="md-list-item-text" layout="column">
                            <h3>{{section.name}}</h3>
                        </div>
                    </md-list-item>
                    <md-list-item ng-repeat="item in section.data" ui-sref="app.discipline.tasks({ themeId : item.id})">
                        <h3>{{item.name}}</h3>
                    </md-list-item>
                </div>
            </md-list>
        </md-content>
    </ion-content>
</ion-view>
