.sections {
    md-list-item {
        p {
            font-size: 1.2em;
        }
    }
    md-list-item {
        &.name {
            //border-top: 1px solid #ddd;
            //border-bottom: 1px solid #ddd;
            margin: 10px 0;
            img {
                width: 50px;
                height: 50px;
                margin-right: 15px;
                border-radius: 50%;
            }
            .md-list-item-text {
                font-family: 'Bad Script', cursive;
                font-size: 18px;
                font-weight: 800;
                text-align: center;
                color: #1E4072;
            }
        }

        &.book {
            margin-top: 0px;
            img {
                width: 90px;
                height: auto;
                margin-right: 10px;
                vertical-align: bottom;
            }
            md-select {
                height: 40px;
                width: 100%;
            }
        }
    }
}
