<ion-view class="sections">
    <ion-content class="has-header">
        <md-list>
            <md-list-item class="book">
                <img ng-src="{{vm.bookImage}}"/>
                <md-select ng-model="vm.selectedBook"
                           ng-change="vm.selectNewBook()">
                    <md-option ng-repeat="book in vm.books"
                               ng-value="book.id">
                        {{book.book.name}}. {{book.book.edition}} {{book.book.year}}
                    </md-option>
                </md-select>
            </md-list-item>
            <md-card ng-repeat="section in vm.sections">
                <md-list-item class="name" ng-click="vm.showThemes(section)">
                    <div class="md-list-item-text" layout="column">
                        {{section.name}}
                    </div>
                </md-list-item>
                <md-list-item ng-if="section.data.show" ng-repeat="item in section.data"
                              ui-sref="app.discipline.tasks({ themeId : item.id})">
                    <p>{{item.name}}</p>
                </md-list-item>
            </md-card>
            <md-list-item ng-if="vm.sections.length == 0" class="text-center">
                <p>Тем не знайдено.</p>
            </md-list-item>
        </md-list>
    </ion-content>
</ion-view>
