<ion-view class="setting" ng-cloak>
    <ion-content style="overflow-y:scroll;">
        <div class="md-block" flex>
            <div class="image_file" ng-cloak>
                <img ngf-thumbnail="vm.data.photo"
                     ng-if="!vm.croppedImage"
                     ngf-as-background="false"
                     class="photo">
                <img ngf-thumbnail="vm.croppedImage"
                     ng-if="vm.croppedImage"
                     ngf-as-background="false"
                     class="photo">
                <md-button class="select md-icon-button md-fab md-hue-2"
                           ng-style="{'background-color': '#1E88E5'}"
                           type="file"
                           accept="image/*"
                           ngf-no-object-url="true"
                           ngf-select="upload($file)">

                    <md-icon md-font-icon="fa fa-camera fa-2x" aria-hidden="true"></md-icon>
                </md-button>
            </div>
        </div>
        <form name="settingForm" layout-padding>
            <div layout="row">
                <md-input-container class="md-block" flex>
                    <label>{{vm.label.first_name}}</label>
                    <input type="text"
                           name="first_name"
                           ng-model="vm.data.first_name"
                           maxlength="32"
                           autocomplete="off"
                           required>
                    <div ng-messages="settingForm.first_name.$error">
                        <div ng-message="maxlength">Ім'я більше 55 символів</div>
                        <div ng-message="required">Це поле обов'язкове для заповнення</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <label>{{vm.label.last_name}}</label>
                    <input type="text"
                           name="last_name"
                           ng-model="vm.data.last_name"
                           maxlength="32"
                           autocomplete="off"
                           required>
                    <div ng-messages="settingForm.last_name.$error">
                        <div ng-message="maxlength">Прізвище більше 55 символів</div>
                        <div ng-message="required">Це поле обов'язкове для заповнення</div>
                    </div>
                </md-input-container>
            </div>
            <md-input-container class="md-block" flex>
                <label>{{vm.label.second_name}}</label>
                <input placeholder="{{vm.label.second_name}}"
                       name="second_name"
                       type="text"
                       ng-model="vm.data.second_name"
                       maxlength="55"
                       autocomplete="off">
                <div ng-messages="settingForm.second_name.$error">
                    <div ng-message="maxlength">По-батькові більше 55 символів</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label>{{vm.label.sity}}</label>
                <md-autocomplete md-no-cache="true"
                                 md-selected-item="vm.selectedItem"
                                 md-search-text-change="vm.search(vm.searchText)"
                                 md-search-text="vm.searchText"
                                 md-items="item in vm.search(vm.searchText)"
                                 md-item-text="item.description"
                                 md-min-length="0"
                                 md-selected-item-change="vm.changeCity()"
                                 required
                                 name="city"
                                 md-menu-class="md-input">
                    <md-item-template>
                        <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.description}}</span>
                    </md-item-template>
                    <md-not-found>
                        Не знайдено "{{vm.searchText}}".
                    </md-not-found>
                    <div ng-messages="settingForm.city.$error">
                        <div ng-message="required">Це поле обов'язкове для заповнення</div>
                    </div>
                </md-autocomplete>
            </md-input-container>

            <!--<md-input-container class="md-block" flex>
                <label>{{vm.label.sity}}</label>
                <input id="autocomplete"
                       name="city"
                       type="text"
                       ng-model="vm.data.sity_name"
                       maxlength="32"
                       autocomplete="off"
                       required>
                <div ng-messages="settingForm.city.$error">
                    <div ng-message="maxlength">Назва міста більше 32 символів</div>
                    <div ng-message="required">Це поле обов'язкове для заповнення</div>
                </div>
            </md-input-container>-->
            <md-input-container class="md-block" flex-gt-sm ng-if="vm.schools.length">
                <label>{{vm.label.school}}</label>
                <md-select ng-model="vm.data.school_id"
                           name="school"
                           required>
                    <md-optgroup label="{{vm.label.school}}">
                        <md-option ng-value="i.id"
                                   ng-repeat="i in vm.schools"
                                   ng-selected="i.name == vm.data.school">
                            {{i.name}}
                        </md-option>
                    </md-optgroup>
                </md-select>
                <div ng-messages="settingForm.school.$error">
                    <div ng-message="required">Це поле обов'язкове для заповнення</div>
                </div>
            </md-input-container>
            <div layout="row">
                <md-input-container class="md-block" flex>
                    <label>{{vm.label.class}}</label>
                    <md-select ng-model="vm.data.class"
                               name="class"
                               required>
                        <md-optgroup label="{{vm.label.my_classes}}">
                            <md-option ng-value="i" ng-selected="i == vm.data.class"
                                       ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11]">
                                {{i}}
                            </md-option>
                        </md-optgroup>
                    </md-select>
                    <div ng-messages="settingForm.class.$error">
                        <div ng-message="required">Це поле обов'язкове для заповнення</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <input placeholder="{{vm.label.class}}"
                           type="text"
                           name="letter"
                           ng-model="vm.data.letter"
                           maxlength="32"
                           autocomplete="off"
                           required>
                    <div ng-messages="settingForm.letter.$error">
                        <div ng-message="maxlength">Текст більше 32 символів</div>
                        <div ng-message="required">Це поле обов'язкове для заповнення</div>
                    </div>
                </md-input-container>
            </div>
            <md-input-container class="md-block" flex ng-if="vm.data.role_id > 1">
                <label>{{vm.label.my_classes}}</label>
                <md-select ng-model="vm.data.my_classes" multiple>
                    <md-optgroup label="{{vm.label.my_classes}}">
                        <md-option ng-value="i" ng-selected="vm.my_classes.indexOf(i) != -1"
                                   ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11]">{{i}}
                        </md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label>{{vm.label.phone}}</label>
                <input name="phone"
                       ui-mask-placeholder
                       ui-mask-placeholder-char="_"
                       type="tel"
                       ng-model="vm.data.phone"
                       key-enter="vm.login()"
                       ui-mask="+38 (999) 999 - 99 - 99"
                       autocomplete="off"
                       ng-minlength="10"
                       required>
                <div ng-messages="settingForm.phone.$error">
                    <div ng-message="minlength">Номер телефону повинен бути не менше 10 символів</div>
                    <div ng-message="required">Це поле обов'язкове для заповнення</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label>{{vm.label.password}}</label>
                <input type="tel"
                       name="password"
                       ng-model="vm.data.password"
                       minlength="6"
                       maxlength="32"
                       autocomplete="off">
                <div ng-messages="settingForm.password.$error">
                    <div ng-message="minlength">Пароль повинен бути не менше 6 символів</div>
                    <div ng-message="required">Це поле обов'язкове для заповнення</div>
                </div>
            </md-input-container>
            <div layout="column">
                <md-button class="md-primary md-raised waves-effect waves-light"
                           md-colors="{background: 'blue-grey'}"
                           ng-click="vm.save(settingForm)">
                    Зберегти
                </md-button>
            </div>
        </form>
    </ion-content>
</ion-view>


