.setting {
    md-input-container input{
        border-bottom: 1px solid #ccc;
    }

    .button {
        background: #1E4072;
        opacity: 0.66;
        font-family: 'Open Sans', Arial;
        font-weight: 700;
        color: #FFFFFF;
        font-size: 18px;
    }

    .image_file {
        text-align: center;
        img {
            border: 1px solid grey;
            cursor: pointer;
        }
    }
}
