.setting {
    md-input-container input{
        border-bottom: 1px solid #ccc;
    }

    .button {
        background: #1E4072;
        opacity: 0.66;
        font-family: 'Open Sans', Arial;
        font-weight: 700;
        color: #FFFFFF;
        font-size: 18px;
    }

    .image_file {
        box-sizing: border-box;
        text-align: center;
        position: relative;
        width: 200px;
        margin: 0 auto;
        img {
            max-width: 100%;
            border: 1px solid grey;
        }
        p {
            cursor: pointer;
            background-color: gray;
            margin: auto;
            position: absolute;
            width: 100%;
            padding: 10px;
            font-weight: bold;
            color: white;
            background-color: rgba(0,0,0,0.4);
            bottom: 5px;
        }
    }
}
