<ion-content class="forgot-password has-header" layout-padding>
    <div class="header">
        <p class="title">
            Забули пароль?
        </p>
        <img id="login_fox" src="../../../img/fox.png"/>
    </div>
    <form>
        <md-input-container class="md-block" flex-gt-sm>
            <label>{{vm.label.phone}}</label>
            <input placeholder="{{vm.label.phone}}"
                   type="tel"
                   ng-model="vm.resetData.phone"
                   key-enter="vm.reset()"
                   autocomplete="off"
                   required>
        </md-input-container>
        <button class="button button-block button-positive" ng-click="vm.reset()">Відновити пароль</button>
        <a class="button button-block button-outline button-stable" href="#/login">Увійти</a>
    </form>
</ion-content>
