<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content drag-content="false">
        <ion-nav-bar align-title="center">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-title ng-cloak>{{ $root.page.title }}</ion-nav-title>
            <ion-nav-buttons side="right">
                <div class="button button-icon button-clear ion-android-home" ng-if="!$root.page.isHome" ng-click="vm.discipline()">
                </div>
            </ion-nav-buttons>
            <ion-nav-buttons side="left">
                <div class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </div>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view></ion-nav-view>
    </ion-side-menu-content>


    <ion-side-menu side="left" width="180">
        <ion-header-bar>
            <h1 class="title">Меню</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item menu-close ng-click="vm.discipline()">
                    Предмети
                </ion-item>
                <ion-item menu-close ng-click="vm.settings()">
                    Налаштування
                </ion-item>
                <ion-item menu-close ng-click="vm.premium()">
                    Підписки
                </ion-item>
                <ion-item menu-close ng-click="vm.logout()">
                    Вихід
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
