@import url('https://fonts.googleapis.com/css?family=Bad+Script');

$applicationBackground: rgb(253,253,253);
$text: 25px;

@import "../views/lazyload/lazyload";
@import "../views/auth/auth";
@import "../views/auth/login/login";
@import "../views/auth/registration/registration";
@import "../views/auth/forgotPassword/forgot-password";
@import "../views/sections/sections";
@import "../views/settings/setting";
@import "../views/task/one/task";
@import "../views/task/all/task.all";
@import "../views/discipline/books/books";
@import "../views/discipline/all/all-discipline";

.error-block {
    margin: 5px auto;
    color: #eb1e32;
}

.item-select select {
    min-width: 65%;
}

.task-card-positive {
    background-color: #99ffb6;
}

.slider-pager {
    bottom: 0;
}
