@import url('https://fonts.googleapis.com/css?family=Bad+Script');

@import "../views/lazyload/lazyload";
@import "../views/auth/login/auth";
@import "../views/sections/sections";
@import "../views/discipline/books/books";
@import "../views/discipline/all/all-discipline";

.error-block {
    margin: 5px auto;
    color: #eb1e32;
}

.item-select select {
    min-width: 65%;
}

.task-card-positive {
    background-color: #99ffb6;
}

.slider-pager {
    bottom: 0;
}
