.login {
    .header {
        .title {
            text-align: center;
        }
        #login_fox {
            float: right;
        }

        &:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }
    }
    input {
        border-bottom: 1px solid #ccc;
    }
}
