<md-content class="login" layout-padding>
    <div class="header">
        <p class="title">
            Вхід
        </p>
        <div>
            <img id="login_fox" src="img/fox.png"/>
        </div>
    </div>
    <div>
        <form novalidate="" name="signinForm" ng-model="vm.signinForm">
            <md-input-container class="md-block" flex-gt-sm>
                <label>{{vm.label.phone}}</label>
                <input name="phone"
                       ui-mask-placeholder
                       ui-mask-placeholder-char="_"
                       type="tel"
                       ng-model="vm.authData.phone"
                       key-enter="vm.login()"
                       ui-mask="+38 (999) 999 - 99 - 99"
                       autocomplete="off"
                       ng-minlength="10"
                       required
                       md-no-asterisk>
                <div ng-messages="signinForm.phone.$error">
                    <div ng-message="minlength">Номер телефона должен быть не меньше 10 символов</div>
                    <div ng-message="required">Это поле обязательное для заполнения</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>{{vm.label.password}}</label>
                <input name="password"
                       type="tel"
                       ng-model="vm.authData.password"
                       minlength="6"
                       maxlength="32"
                       autocomplete="off"
                       required>
                <div ng-messages="signinForm.password.$error">
                    <div ng-message="required">Это поле обязательное для заполнения</div>
                    <div ng-message="minlength">Пароль должен быть не меньше 6 символов</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <md-checkbox class="blue" ng-model="vm.authData.remember">
                    Запомнить меня
                </md-checkbox>
            </md-input-container>
            <input type="button" class="button button-block button-positive" ng-click="vm.login(signinForm)" value="Увійти"/>
        </form>
        <div class="link">
            <a href="#/reset-password">Забули пароль?</a>
            <a href="#/registration">Створити аккаунт</a>
        </div>
    </div>
</md-content>
