<ion-view>
    <ion-content class="has-header">
        <div class="list" ng-if="vm.disciplines">
            <div style="animation-delay: .{{$index}}s"
                ng-repeat="discipline in vm.disciplines"
                class="card">

                <a class="item item-thumbnail-left" ui-sref="app.discipline.books({ disciplineId: discipline.id })">
                    <img src="http://cmapspublic.ihmc.us/?thumbnail=1323171841631_1691287663_43466">
                    <h2>{{discipline.name}}</h2>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
