<div class="messages">
    <md-button class="more"
               ng-init="limitMessage = 7"
               ng-click="limitMessage = limitMessage + 5"
               ng-hide="limitMessage >= vm.messages.length"
               aria-label="true">
        ...
    </md-button>
    <div ng-repeat="i in vm.messages.slice(-limitMessage)" class="message" ng-class="i.send_from == $root.user.id ? 'my' : 'not-my'">
        <img ng-class="{'show-time':i.show_date}"
             ng-click="i.show_date = !i.show_date"
             ng-src="{{i.avatar}}">

        <div class="time" ng-show="i.show_date">
            {{::i.created_at * 1000 | date:'yyyy-MM-dd HH:mm'}}
        </div>
        <br ng-show="i.show_date">
        <div class="text" ng-class="{'answer': i.type}">
            <span ng-click="i.show_date = !i.show_date">
                {{::i.text}}
            </span>
            <record ng-if="i.files.length > 0 && i.files[0].extension == 'm4a'"
                    src="{{i.files[0].url | trusted}}"></record>
        </div>

        <div style="clear: both"></div>
    </div>
    <!--<div class="text-center" ng-if="vm.messages.length">
        <md-button class="md-icon-button md-primary"
                   ng-click="vm.doRefresh()"
                   aria-label="Reload">
            <md-icon md-font-icon="fa fa-refresh fa-lg" aria-hidden="true"></md-icon>
        </md-button>
    </div>-->
</div>

<form novalidate="" name="questionForm" class="questionForm">
    <md-input-container class="md-block" flex>
        <label>Повідомлення</label>
        <textarea name="question"
                  md-maxlength="150"
                  ng-maxlength="150"
                  rows="3"
                  md-select-on-focus
                  ng-model="vm.data.text"
                  autocomplete="off"
                  required></textarea>
        <div ng-messages="questionForm.question.$error">
            <div ng-message="required">Поле обов'язкове для заповнення</div>
            <div ng-message="maxlength">Максимальна довжина відповіді повинна бути 150 символів</div>
        </div>
    </md-input-container>
    <div class="md-block inputButton" layout="row">
        <div layout-align="start center" flex="7">
            <md-button class="md-icon-button md-fab md-mini md-hue-2"
                        ng-style="{'background-color':'#3f51b5'}"
                        ng-click="vm.audio.record(); "
                        ng-if="!vm.audio.online"
                        aria-label="Rec">
                <md-icon md-font-icon="fa fa-microphone fa-lg" aria-hidden="true"></md-icon>
            </md-button>

            <md-button class="md-icon-button md-fab md-mini md-hue-2"
                        ng-style="{'background-color':'white'}"
                        ng-click="vm.audio.stop();"
                        ng-if="vm.audio.online"
                        aria-label="Stop">
                <md-icon md-font-icon="fa fa-stop fa-lg" ng-style="{'color':'#B71C1C'}" aria-hidden="true"></md-icon>
            </md-button>
        </div>
        <div layout-align="center center" flex="50" style="margin-top: -5px">
            <record ng-if="vm.audio.data"
                    src="{{vm.audio.data}}">
            </record>
        </div>

        <div layout-align="end center" flex class="submit-button">
            <md-button class="md-raised md-primary" ng-click="vm.question(questionForm)" aria-label="true">
                Надіслати
            </md-button>
        </div>
    </div>
</form>
