<ion-view class="task">
    <ion-content class="has-header">
        <ion-refresher
            pulling-text="Оновити інформацію..."
            on-refresh="vm.doRefresh()">
        </ion-refresher>
        <div class="result" ng-if="vm.task.done" ng-cloak="">
            <h2 class="title">Завдання виконано</h2>
        </div>
        <div class="list" ng-if="vm.task">
            <div class="photos"
                 ng-if="vm.task.files.length">
                <img ng-src="{{ file.url }}"
                     alt="image"
                     ng-repeat="file in vm.task.files" ng-if="$index < 1">
            </div>
            <p class="explanation" align="center">
                {{ vm.task.explanation }}
            </p>
        </div>
        <md-card class="answer">
            <form novalidate="" name="answerForm" class="fade-element-in" ng-if="!vm.askForm">
                <md-input-container class="md-block" flex-gt-sm>
                    <textarea name="answer"
                              md-maxlength="150"
                              rows="3"
                              md-select-on-focus
                              placeholder="{{ vm.label.result }}"
                              type="text"
                              ng-model="vm.data.answer"
                              autocomplete="off"
                              required> </textarea>
                    <div ng-messages="answerForm.answer.$error" ng-if="answerForm.answer.$touched">
                        <div ng-message="required">Это поле обязательное для заполнения</div>
                    </div>
                </md-input-container>
                <!--<choose-file-button>-->
                <!--<md-button layout="row" layout-align="center center"-->
                <!--class="md-fab md-primary button-accent"-->
                <!--aria-label="Upload a file">-->
                <!--<i class="material-icons">camera_enhance</i>-->
                <!--</md-button>-->
                <!--<input id="file" accept="image/x-png, image/jpeg"-->
                <!--onchange="angular.element(this).scope().vm.changePhoto(this)" type="file">-->
                <!--</choose-file-button>-->

                <div class="md-block send-button">
                    <i ng-model="vm.data.photo"
                       autocomplete="off"
                       ngf-select="vm.upload($file)"
                       accept="image/*"
                       ngf-max-size="2MB"
                       ngf-max-files="5"
                       id="answerPhoto"
                       name="answerPhoto md-fab"
                       class="fa fa-camera fa-2x photo"
                       required></i>
                    <img ngf-thumbnail="{{ file }}" width="100" ng-repeat="file in vm.data.photo">
                    <div class="submit-button">
                        <md-button class="md-icon-button md-fab md-mini md-hue-2" ng-click="vm.changeForm()">
                            <md-icon md-font-icon="fa fa-question fa-2x" aria-hidden="true"></md-icon>
                        </md-button>
                        <md-button class="md-raised md-primary" ng-click="vm.submit()">
                            Відповісти
                        </md-button>
                    </div>
                </div>
            </form>

            <form novalidate="" name="questionForm" class="fade-element-in" ng-if="vm.askForm">
                <md-input-container class="md-block" flex>
                    <label>{{ vm.label.result }}</label>
                    <textarea name="question"
                              md-maxlength="150"
                              rows="3"
                              md-select-on-focus
                              ng-model="vm.data.question"
                              autocomplete="off"
                              required> </textarea>
                    <div ng-messages="questionForm.question.$error">
                        <div ng-message="required">Это поле обязательное для заполнения</div>
                    </div>
                </md-input-container>
                <div class="md-block send-button">
                    <div class="submit-button">
                        <md-button class="md-icon-button md-no-focus md-fab md-mini md-hue-2" ng-click="vm.changeForm()">
                            <md-icon md-font-icon="fa fa-pencil fa-2x" aria-hidden="true"></md-icon>
                        </md-button>
                        <md-button class="md-raised md-primary" ng-click="vm.submit()">
                            Задати питання
                        </md-button>
                    </div>
                </div>
            </form>
        </md-card>

        <md-card>
            <div class="messages">
                <div ng-repeat="i in vm.messages">
                    <img ng-src="{{i.id == 1 ? 'http://ecovoice.ru/uploads/images/e/8/c/7/3000/big/7b13345039.jpg':'https://rirl.ru/images/30754.jpg'}}" alt="avatar"  ng-class="{'my': i.id == 1, 'not-my': i.id ==2}"/>
                    <div class="message" ng-class="{'my': i.id == 1, 'not-my': i.id ==2}">
                        {{ i.text }}
                    </div>
                    <div style="clear: both"></div>
                </div>
            </div>
        </md-card>

        <!--<p class="tutor-text">Виникли запитання? Зверніться до репетитора</p>
        <form class="ask-form" ng-click="vm.question()">
            <div layout-gt-sm="row">
                <img src="../../../img/fox.png" class="fox">
                <md-card class="ask-card">
                    <md-input-container class="md-block" flex-gt-md>
                        <label>{{ vm.label.result }}</label>
                        <textarea name="ask"
                                  rows="3"
                                  md-select-on-focus
                                  type="text"
                                  ng-model="vm.data.ask"
                                  autocomplete="off"
                                  required
                                  disabled> </textarea>
                    </md-input-container>
                    <md-input-container class="md-block send-button">
                        <i class="fa fa-camera fa-2x photo"></i>
                        <i class="fa fa-file-audio-o fa-2x audio"></i>
                        <md-button class="right md-raised md-primary submit-button" ng-click="vm.question()" disabled>
                            Send
                        </md-button>
                    </md-input-container>
                </md-card>
            </div>
        </form>-->
    </ion-content>
</ion-view>
