.task {
    background-color: rgb(226, 226, 226);

    .result {
        border-color: #28a54c;
        background-color: #33cd5f;
        color: #fff;
        height: 44px;
        text-align: center;

        .title {
            padding-top: 0.4em;
            font-size: 19px;
            color: #222;
        }
    }

    .photos {
        text-align: center;
        img {
            width: 550px;
            @media (max-width: 550px) {
                width: 100%;
            }
        }
        margin-bottom: 1em;
    }

    .explanation {
        font-weight: 600;
        line-height: 1.5em;
        padding: 0 10px;
        letter-spacing: 0px;
        color: rgb(0, 0, 0);
        font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
        text-align: justify;
        text-indent: 1.5em;
        font-size: 19px;
    }

    .photo, .audio {
        float: left;
        background-color: #555;
    }

    .submit-button {
        text-align: right;
        margin-top: -3px;
    }

    .answer {
        .check-tutor {
            position: absolute;
            left: 30px;
        }
    }

    .tutor-text {
        margin: 25px 15px 0;
        line-height: 24px;
        letter-spacing: 0px;
        color: rgb(30, 64, 114);
        font-family: "Bad Script", cursive;
        font-size: 20px;
        text-align: center;
    }

    .attach-image {
        max-width: 19%;
        margin: 0 0.5%;
        border-radius: 3px;
    }

    .subtasks {
        ion-item {
            background: #fff;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            margin-top: 5px;

            p {
                font-size: 1em;
                white-space: normal;
                margin-bottom: 1em;
            }
            .success {
                color: #56c844;
            }
            .error {
                color: #fc3424;
            }
        }
    }

    .ask-form {
        padding-top: 15px;
    }

    .questionForm {
        border-top: 1px solid #bbb;
        .inputButton {
            padding-bottom: 10px;
        }
    }

    @media (min-width: 680px) {
        &.answerModal {
            width: 90%;
            height: 90%;
            top: 5%;
            left: 5%;
            right: 5%;
            bottom: 5%;
        }
    }

    //
    //.fade-element-in.ng-enter {
    //    transition: 0.8s linear all;
    //    opacity: 0;
    //}
    //
    //.fade-element-in-init .fade-element-in.ng-enter {
    //    opacity: 1;
    //}
    //
    //.fade-element-in.ng-enter.ng-enter-active {
    //    opacity: 1;
    //}
    //
    //.fade-element-in.ng-leave {
    //    transition: 0.3s linear all;
    //    opacity: 1;
    //}
    //.fade-element-in.ng-leave.ng-leave-active {
    //    opacity: 0;
    //}

    .messages {
        .show-more {
            font-weight: bold;
            border-bottom: 1px solid #ccc;
            padding: 3px 0 8px 0;
            background: #f5f5f5;
            cursor: pointer;
            display: block;
            width: 100%;
            margin: 0;
            line-height: 1em;
        }
        .message {
            img {
                width: 35px;
                height: 35px;
                margin: 5px;
                border-radius: 50%;
            }
            .show-time {
                margin: 25px 5px 5px 5px;
            }
            .time {
                font-size: 11px;
                padding-right: 5px;
            }
            .text {
                padding: 10px;
                margin: 5px;
                max-width: 80%;
                border-radius: 2px;
                display: inline;
                vertical-align: bottom;
                position: relative;
                .record {
                    background: none;
                    margin: -10px 0px;
                }
            }
            &.my {
                img {
                    float: right;
                }
                .time {
                    float: right;
                }
                .text {
                    background-color: rgb(205, 225, 252);
                    //color: white;
                    float: right;
                    &:after {
                        content: '';
                        position: absolute;
                        right: -15px;
                        top: 10px;
                        border: 8px solid transparent;
                        border-left: 8px solid rgb(205, 225, 252);
                    }
                }
            }
            &.not-my {
                img {
                    float: left;
                }
                .time {
                    float: left;
                }
                .text {
                    background-color: #f3f6f8;
                    float: left;
                    &:after {
                        content: '';
                        position: absolute;
                        left: -15px;
                        top: 10px;
                        border: 8px solid transparent;
                        border-right: 8px solid #f3f6f8;
                    }
                }
            }
        }
    }

    .record {
        background: #fff;
        padding: 0 5px;
        .control {
            width: 30px;
        }
        a {
            color: rgb(63,81,181);
        }
    }

    md-card:last-child {
        margin-bottom: 25px;
    }

    .chat-item {
        img {
            width: 35px;
            height: 35px;
            margin: 5px 5px 5px -5px;
            border-radius: 50%;
        }
    }
}
.popup-vertical-buttons button
{
    min-width: 100%;
    margin-bottom: 5px;
}
.popup-vertical-buttons .popup-buttons
{
    display: block;
}
