<ion-view>
    <div class="bar bar-subheader bar-balanced" ng-if="vm.task.done" ng-cloak="">
        <h2 class="title">Task complete</h2>
    </div>
    <ion-content class="has-header">
        <div class="list" ng-if="vm.task">
            <div ng-if="vm.task.files.length">
                <img ng-src="{{ file.url }}" style="max-width: 100%" alt="image" ng-repeat="file in vm.task.files">
            </div>
            <h2>{{ vm.task.explanation }}</h2>
            <!--<pre>{{vm.task | json}}</pre>-->
        </div>
        <form novalidate="" class="list" name="answerForm">
            <label class="item item-input item-floating-label">
                <span class="input-label">{{vm.label.photo}}</span>
                <input type="file"
                       ng-model="vm.data.photo"
                       autocomplete="off"
                       ngf-select accept="image/*"
                       ngf-max-size="2MB"
                       ngf-max-files="5"
                       required>
                <img ng-src="{{ file.url }}" width="100" ng-repeat="file in vm.data.files">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">{{ vm.label.result }}</span>
                <input name="answer"
                       placeholder="{{ vm.label.result }}"
                       type="text"
                       ng-model="vm.data.answer"
                       autocomplete="off"
                       required>
            </label>
            <div class="text-center" ng-messages="answerForm.answer.$error" ng-if="answerForm.answer.$touched">
                <div class="error-block" ng-message="required">Это поле обязательное для заполнения</div>
            </div>
            <label class="item item-toggle item-floating-label">
                {{ vm.label.status }}
                <label class="toggle">
                    <input type="checkbox"
                           ng-model="vm.data.status" value="1">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </label>
        </form>
        <button class="button button-block button-positive" ng-click="vm.submit()">Send</button>
    </ion-content>
</ion-view>
