<ion-view class="task">
    <ion-content class="has-header">
        <div ng-if="vm.task">
            <div class="photos" ng-if="vm.task.files.length">
                <img ng-src="{{ file.url }}"
                     alt="image"
                     ng-repeat="file in vm.task.files" ng-if="$index < 1">
            </div>
            <md-card class="explanation">
                {{ vm.task.explanation }}
            </md-card>
        </div>
        <ion-list class="subtasks" flex ng-if="vm.subtasks.length">
            <ion-item ng-repeat="subtask in vm.subtasks">
                <p>
                    {{subtask.text}}
                </p>
                <div layout="row" layout-align="end center" flex>
                    <i ng-if="subtask.done && subtask.done.result == 1" class="fa fa-check-circle fa-lg success"></i>
                    <i ng-if="subtask.done && subtask.done.result == 0" class="fa fa-exclamation-circle fa-lg error"></i>
                    <md-button class="md-raised md-primary" ng-click="vm.showAnswerModal(subtask)">
                        Відповідь
                    </md-button>
                </div>
            </ion-item>
        </ion-list>
        <md-card class="answer-btn" ng-if="!vm.subtasks.length">
            <div layout="row">
                <span flex>
                    може ти хочеш отвітить?
                </span>
                <div flex="30" layout-align="end center">
                    <md-button class="md-raised md-primary" ng-click="vm.showAnswerModal()">
                        Відповідь
                    </md-button>
                </div>
            </div>
        </md-card>

        <md-card ng-include="'views/task/one/chat.html'"></div>

        <md-card ng-if="$root.user.role_id != 1 && $root.user.id != chat.created_by" ng-repeat="chat in vm.chats">
            <md-list-item class="chat-item" ng-click="vm.openChat(chat)" ng-if="$root.user.id != chat.created_by">
                <img ng-src="{{chat.avatar}}" alt="{{chat.creator}}">
                <h5>{{chat.creator}}</h5>
            </div>
        </div>
    </ion-content>
</ion-view>

