<ion-view ng-init="$root.isHome = false">
    <ion-content class="has-header">
        <div class="list" ng-if="vm.books">
            <label class="item item-input item-select">
                <div class="input-label">
                    Books
                </div>
                <select ng-model="vm.data.book_discipline_id">
                    <option ng-repeat="book in vm.books" value="{{ book.id }}">
                        {{book.book.author}}. {{book.book.name}}. {{book.book.edition}}, {{book.book.year}}
                    </option>
                </select>
            </label>

            <!--TODO: Add book image-->

            <button type="submit" class="button button-block button-positive" ng-click="vm.selectBook()">Select book</button>
        </div>
    </ion-content>
</ion-view>
