<ion-view class="books">
    <ion-content class="has-header">
        <div class="list" ng-if="vm.books.length">
            <div class="left">
                <div class="button button-positive button-clear no-animation icon ion-chevron-left"
                        ng-click="vm.previous()">
                </div>
            </div>
            <div class="right">
                <div class="button button-positive button-clear no-animation icon ion-chevron-right"
                        ng-click="vm.next()">
                </div>
            </div>
            <ion-slide-box active-slide="vm.slide" show-pager="false" does-continue="true">
                <ion-slide ng-repeat="book in vm.books">
                    <a class="slide-item">
                        <img ng-src="{{book.book.image}}">
                        <p>({{book.book.author}}) <br> {{book.book.name}}. {{book.book.edition}} <br> {{book.book.year}}</p>
                    </a>
                </ion-slide>
            </ion-slide-box>
            <md-content flex>
                <div layout="column">
                    <md-button class="md-primary md-raised waves-effect waves-light"
                               md-colors="{background: 'blue-grey'}"
                               ng-click="vm.selectBook(vm.slide)"
                               aria-label="true">
                        Обрати книгу
                    </md-button>
                </div>
            </md-content>
        </div>
        <md-list ng-if="!vm.books.length">
            <md-list-item ng-if="!vm.books.length" class="name text-center">
                <p>Книг не знайдено.</p>
            </md-list-item>
        </md-list>
    </ion-content>
</ion-view>
